<div ng-controller="DynamicDashboardCtrl as $ctrl">
  <div  class="row">
    <div class="col-md-12" >
      <div class="row">
        <div  ng-repeat="(key, graph) in $ctrl.DashboardService.displayedGraphs track by $index" class="col-xs-12 col-sm-6" >
          <ng-include src="graph"></ng-include>
        </div>        
      </div>
      <div class="row">
        <div ng-repeat="(key, table) in $ctrl.DashboardService.displayedTables track by $index" class="col-md-12" >
            <ng-include src="table"></ng-include>
        </div>        
      </div>
    </div>
  </div>
</div>