<div ng-controller="DynamicQueriesCtrl as $ctrl">
  <div  class="row" style="display: flex; flex: 1; ">
    <div class="col-md-2 " style="display: flex; flex-direction: column; justify-content: stretch; flex: 1; padding-right:2em; overflow: scroll; height: 70%;" >
      <div class="row" style="">
        <!-- Single button using append-to-body -->
        <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <button id="btn-append-to-body" type="button" class="btn btn-danger" uib-dropdown-toggle style="max-height: 3em; margin-top: 3em">
              Select Table <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
              <li class="btn" style="display: block" role="menuitem" ng-repeat="(key, value) in $ctrl.QueriesService.tables track by key">
                <a href="#" ng-click="$ctrl.QueriesService.addTable(key)">{{key | uppercase }}</a>
              </li>
            </ul>
          </div>        
      </div>


      <div class="row" style="display: flex; flex-direction: column; padding-top: 1em">
        <div class="card">
            <div class="card-header">
              <li style="list-style:none;">
                  <input type="checkbox" ng-model="selectedAll" ng-click="$ctrl.checkAllColumns()" />
                  All Columns
              </li>
              <div class="card-actions">
              </div>
            </div>
            <div class="card-body" style="display: flex; align-items:center; flex:1; padding:0; justify-content: center">
              <ul class="btn-group-toggle" style="list-style:none; flex: 1; margin-bottom:0em">
                <li ng-repeat="col in $ctrl.QueriesService.currentSelectedTableColumns">
                  <input type="checkbox" ng-model="col.selected"> {{col.name}}
                </li>
              </ul>       
            </div>
        </div>
      </div>


      <div class="row" style="display: flex; flex-direction: column; padding-top: 1em">
        <div class="card">
            <div class="card-header">
                <h6>Keywords</h6>
              <div class="card-actions">
              </div>
            </div>
            <div class="card-body" style="display: flex; align-items:center; flex:1; padding:0; justify-content: center">
              <ul class="btn-group-toggle" style="list-style:none; flex: 1; margin-bottom:0em">
                <li ng-repeat="col in $ctrl.logicOptions">
                  <input type="checkbox" ng-model="col.selected"> {{col.name}}
                </li>
              </ul>       
            </div>
        </div>
      </div>


      <div class="row" style="display: flex; flex-direction: column; padding-top: 1em">
        <div class="card">
            <div class="card-header">
              <li style="list-style:none;">
                  <input type="checkbox" ng-model="selectedAllGroupsBy" ng-click="$ctrl.checkAllGroups()" />
                  Group by All
              </li>
              <div class="card-actions">
              </div>
            </div>
            <div class="card-body" style="display: flex; align-items:center; flex:1; padding:0; justify-content: center">
              <ul class="btn-group-toggle" style="list-style:none; flex: 1; margin-bottom:0em">
                <li ng-repeat="col in $ctrl.groupOptions">
                  <input type="checkbox" ng-model="col.selected"> {{col.name}}
                </li>
              </ul>       
            </div>
        </div>
      </div>

      <div class="row" style="display: flex; flex-direction: column; padding-top: 1em">
        <div class="card">
          <div class="card-header">
            <li style="list-style:none;">
                <input type="checkbox" ng-model="selectedAllOrderBy" ng-click="$ctrl.checkAllOrderBy()" />
                Order by All
            </li>
            <div class="card-actions">
            </div>
          </div>
          <div class="card-body" style="display: flex; align-items:center; flex:1; padding:0; justify-content: center">
            <ul class="btn-group-toggle" style="list-style:none; flex: 1; margin-bottom:0em">
              <li ng-repeat="col in $ctrl.orderOptions">
                <input type="checkbox" ng-model="col.selected"> {{col.name}}
              </li>
            </ul>       
          </div>
        </div>
      </div>
  
      <div class="row" style="display: flex; flex-direction: column; padding-top: 1em">
        <div class="card">
          <div class="card-header">
            <li style="list-style:none;">
                <input type="checkbox" ng-model="selectedAllMathOpts" ng-click="$ctrl.checkAllMathOps()" />
                All Math Ops
            </li>
            <div class="card-actions">
            </div>
          </div>
          <div class="card-body" style="display: flex; align-items:center; flex:1; padding:0; justify-content: center">
            <ul class="btn-group-toggle" style="list-style:none; flex: 1; margin-bottom:0em">
              <li ng-repeat="col in $ctrl.mathOptions">
                <input type="checkbox" ng-model="col.selected"> {{col.name}}
              </li>
            </ul>       
          </div>
        </div>
      </div>
  
      <button
        type="button"
        class="btn btn-primary"
        ng-model="singleModel"
        style="margin-bottom: 2em"
      >
        Execute
      </button>
    </div>


    <div class="col-md-10" style="display: flex; justify-content:space-between; flex-direction: column">
      <div class="row">
        <ng-include src="$ctrl.QueriesService.currentSelectedTable"></ng-include>
      </div>
      <div class="row" style="">
        <div class="card card-block bg-faded" >Results:  </div>
      </div>
    </div>
  </div>
</div>