// scss-lint:disable all
.animated {
  animation-duration: 1s;
  // animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.loading-pane {
  position: absolute;
  background: url("http://oi62.tinypic.com/2pqsuc0.jpg");
}

.loading-pane .spinner-image{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("http://oi58.tinypic.com/2emfu9w.jpg") center center no-repeat;
}
