<div class="animated fadeIn" ng-controller="RewardsQueriesBootstrapIntegrationCtrl as $ctrl">
    <div >
        <div ng-if="showFlapper">
            <div flapper-repeat ng-model="$ctrl.flapper"  nbflap="23" timing=150/>
        </div>
        <div class="card" >
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Rewards
            </div>
            <div class="card-body">
                <div class="container-fluid" >
                    <table
                        datatable=""
                        ng-if="!showFlapper"
                        dt-options="$ctrl.dtOptions"
                        dt-columns="$ctrl.dtColumns"  
                        class="table responsive nowrap table-bordered table-striped"
                        width="100%"
                    ></table>        
                </div>        
            </div>        
        </div>            
    </div>
</div>
        
          
      