<div class="animated fadeIn">
    <div >
      <div class="card">
        <div class="card-header">
          <i class="icon-graph icon-bg"></i>Bar Chart
          <div class="card-actions">
            <a href="http://jtblin.github.io/angular-chart.js/">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body" ng-controller="BarCtrl">
          <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels">
          </canvas>
        </div>
      </div>
    </div>
</div>
        
          
      