<div class="animated fadeIn">
    <div >
    <div class="card">
      <div class="card-header">
        <i class="fa fa-asterisk icon-bg"></i>Pie Chart
        <div class="card-actions">
          <a href="http://jtblin.github.io/angular-chart.js/">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body" ng-controller="PieCtrl">
        <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels">
        </canvas>
      </div>
    </div>
    </div>
</div>
        
          
      