<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> {{ 'DASHBOARD' | translate }} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.calendar"><i class="icon-calendar"></i> {{ 'SCHEDULE' | translate }} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.queries"><i class="icon-question"></i> {{ 'QUERIES' | translate }} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.admin"><i class="icon-key"></i> {{ 'ADMIN' | translate }} </a>
      </li>
    </ul>
  </nav>
</div>