<div class="animated fadeIn">
    <div >
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Tasks
            </div>
            <div class="card-body">
                <div class="container-fluid" ng-controller="TaskQueriesBootstrapIntegrationCtrl as qvm">
                    <table
                        datatable=""
                        dt-options="qvm.dtOptions"
                        dt-columns="qvm.dtColumns"  
                        class="table responsive nowrap table-bordered table-striped"
                        width="100%"
                    ></table>        
                </div>        
            </div>        
        </div>            
    </div>
</div>
        
          
      